@model SITech.DTO.ForgotPasswordViewModel
@*@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Forgot | SITech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="KingAdmin Dashboard">
    <meta name="author" content="SITech">
    @Styles.Render("~/login/css")
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/assets/ico/kingadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/assets/ico/kingadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/assets/ico/kingadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Content/assets/ico/kingadmin-favicon57x57.png">
    <link rel="shortcut icon" href="/Content/assets/ico/favicon.png">
</head>
<body>
    <div class="wrapper full-page-wrapper page-auth page-login">
        <div class="inner-page">
            <div class="main-content">
                <div class="row center-block">
                                           
                            <div class="widget">
                                <div class="widget-header">
                                    <h3><i class="fa fa-edit"></i> Forgot Password?</h3>
                                </div>
                                <div class="widget-content">
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @*<hr />*@
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <p class="title">Enter your email:</p>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "control-label sr-only" })
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "e-mail" })
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Email Link</button>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                </div>
                       
                    </div>
                </div>
                    </div>
                </div>
                <footer class="footer">&copy; @DateTime.Now.Year SITech</footer>
                <!-- Javascript -->
                @section Scripts {

                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/login/js")

                }
</body>
</html>