@model SITech.DTO.LoginViewModel

@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_Layout_Default.cshtml";
}
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
                
                <div class="tab-container">

                    <div class="tab-content clearfix" id="tab-login">
                        <div class="panel panel-default nobottommargin">
                            <div class="panel-body" style="padding: 40px;">
                                <form id="login-form" name="login-form" class="nobottommargin" action="Login" method="post">

                                    <h3>Login to your Account</h3>

                                    <div class="col_full">
                                        @Html.LabelFor(m => m.UserName)
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required", placeholder = "" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>

                                    <div class="col_full">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", placeholder = "" })
                                        @Html.ValidationMessageFor(m => m.Password)

                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                                        <a href="#" class="fright">Forgot Password?</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</section>