
@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
        </div>
*@

@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>>Reset | SITech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="KingAdmin Dashboard">
    <meta name="author" content="SITech">
    @Styles.Render("~/login/css")
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/assets/ico/kingadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/assets/ico/kingadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/assets/ico/kingadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/Content/assets/ico/kingadmin-favicon57x57.png">
    <link rel="shortcut icon" href="/Content/assets/ico/favicon.png">
</head>
<body>
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div class="inner-page">
            <div class="main-content">
                <div class="row center-block">

                    <div class="widget">
                        <div class="widget-header">
                            <h3><i class="fa fa-edit"></i> Reset Password</h3>
                        </div>
                        <div class="widget-content">
                            <p>
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                    </div>
                    <footer class="footer">&copy; @DateTime.Now.Year SITech</footer>
                    <!-- Javascript -->
</body>
</html>
