@model System.Collections.Generic.IEnumerable<SITech.DTO.MenuItemViewModel>
@if (Request.IsAuthenticated)
{
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">
                Menu Items
            </div>
            <div class="clearfix"></div>
        </div>
        @using (Html.BeginForm("MenuItems", "WebApp", FormMethod.Post, new { @id = "frm" }))
        {
            <div class="row">
                <div class="col-md-12" style="margin-top: 20px;">
                    <!-- COLUMN FILTER DATA TABLE -->
                    <div class="widget widget-table">
                        <div class="widget-content">
                            <table id="datatable-column-filter" class="table table-sorting table-striped table-hover datatable">
                                <thead>
                                    <tr>
                                        <th style="width: 15px;"></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="itemCheckbox" data-code="@item.MenuItemId" name="selectedItems" value="@item.MenuItemId" /></td>
                                            <td>@item.ItemName</td>
                                            <td>@item.ItemPrice</td>
                                            <td>@item.ItemType</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END COLUMN FILTER DATA TABLE -->
                </div>
            </div>

            <div class="row" style="margin-left: 5px;">
                <input type="button" class="btn btn-default" value="Deactivate" id="delete_customer" />
            </div>
        }
    </div>
            <!-- END PANEL -->
}
else
{
    <h2> Logged off and now in the other view</h2>
}

<script>
    $(function () {
        addColumnFiltersDataTable("#datatable-column-filter", 4, 1);
        $('.row-filter th:first').empty().append('<input type="checkbox" id="check_all" />');
        $('th:first').attr("class", "");
    });

    /*--------------------------- Check/Uncheck all ----------------------------------------*/
    $("body").on("click", "#check_all", function () {
        if ($('#check_all').is(":checked")) {
            $('.itemCheckbox').prop("checked", true);
        } else {
            $('.itemCheckbox').prop("checked", false);
        }
    });
    /*--------------------------- Validation ----------------------------------------*/
    $("body").on("submit", "#frm", function () {
        if ($('.itemCheckbox:checked').length <= 0) {
            alert('Select at least one customer!');
            return false;
        }
    });
    /*--------------------------- Delete customer account ----------------------------------------*/
    $("body").on("click", "#delete_customer", function () {
        if (confirm("Are you sure?")) {
            var menuItemList = [];
            $(".itemCheckbox:checked").each(function () {
                menuItemList.push(this.value);
            });


            $.ajax({
                url: '/WebApp/DeactivateMenuItems',
                data: { "menuItemList": menuItemList },
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                complete: function () {

                },
                success: function (data) {
                    $(".itemCheckbox:checked").each(function () {
                        this.closest('tr').remove();
                    });
                },
                error: function (error) {
                    Console.log(error);
                }
            });
        }

    });
</script>



