@model IQueryable<SITech.DTO.UserWrapper>
@{
    ViewBag.Title = "Customers";
}
@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/Scripts/Activator")
    @Styles.Render("~/Content/GridCss")
<script>
    //$('#datatable-column-filter').DataTable({
    //    "aoColumnDefs": [
    //        {
    //            'bSortable': false,
    //            'aTargets': [-1]
              
    //        }
    //    ]
    //});
    //var mSortingString = [];
    //var disableSortingColumn = -1;
    //mSortingString.push({ "bSortable": false, "aTargets": [disableSortingColumn] });



    //$(document).ready(function () {
    //    var table = $('#datatable-column-filter').dataTable({
    //        "paging": false,
    //        "ordering": true,
    //        "info": false,
    //        "aaSorting": [],
    //        "orderMulti": true,
    //        "aoColumnDefs": mSortingString

    //    });
    //});
    //$(document).ready(function () {
    //    $('#edit').removeClass("sorting");
    //    $('#deactivate').removeClass("sorting");
    //});
    
    </script>
}
@*<br />
<div class="spacerBody">*@
    <h3>@ViewBag.Title</h3>
    @*<br />
    @Html.ActionLink("Create", "AddUser", "User", new { @class = "btn btn-primary" })*@
    <br />
    @*@{
        if (Model.Any())
        {
            <hr />

            var grid = new WebGrid(Model, canPage: true, canSort: false, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
            @grid.Pager()
            <div id="gridContent">
                @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("UserName", "Username"),
                grid.Column("FirstName", "FirstName"),
                grid.Column("MiddleName", "MiddleName"),
                grid.Column("LastName", "LastName"),
                grid.Column("Email", "Email", style: "description"),
                grid.Column("CompanyName", "CompanyName"),
                grid.Column("CargoType", "CargoType"),
                grid.Column("    ", format: @<text>@Html.ActionLink("Edit", "EditCustomer", "Customer", new { id = item.UserId }, null) </text>),
                grid.Column("    ", style: "description", format:
                    @<text>                   
                <a class="btn btn-xs btn-danger activebtn" rolename="@item.RoleName" itemid="@item.UserId"><i class="fa fa-warning text-active"></i> DeActivate </a>                        
                     </text>)

                   ))

            </div>
        }
        else
        {
        }
    }

</div>*@

<!-- COLUMN FILTER DATA TABLE -->
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Customers</h3>
    </div>
    <div class="widget-content">
        <table id="datatable-column-filter" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>CompanyName</th>
                    <th class="notactive"></th>
                    <th class="notactive"></th>
                    <th class="notactive"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                   <tr>
                    <td>@customer.UserName</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Email</td>
                    <td>@customer.CompanyName</td>
                    <td>@Html.ActionLink("Edit", "EditCustomer", "Customer", new { id = customer.UserId }, null)</td>
                    <td>@Html.ActionLink("Inventories", "Inventories", "App", new { CustomerId = customer.UserId }, null)</td>
                    <td><a class="btn btn-xs btn-danger activebtn" rolename="@customer.RoleName" itemid="@customer.UserId"><i class="fa fa-warning text-active"></i> DeActivate </a></td>
                </tr> 
                }                
                
            </tbody>
        </table>
    </div>
</div>
<!-- END COLUMN FILTER DATA TABLE -->
<style>
    .notactive{
        display:none;
    }
</style>